@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1739866331251') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-loading:before {
  content: "\e67c";
}

.icon-github-fill:before {
  content: "\e885";
}

